node_modules
.idea

# Build directory
/web-ext-artifacts

# profiles for testing
/mdhr_test_profiles/

venv

.pnpm-store

# Vendored code
extension/data/emoji_codes.json
extension/highlightjs/highlightjs.esm.js
extension/highlightjs/styles/*.css
extension/highlightjs/styles/styles.json
extension/vendor/*js
extension/vendor/*.css